@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body {
    width: 100%;
    height: 100vh;
}

.container {
    height: 100vh;    
    background: 
    linear-gradient(rgb(147, 182, 187), rgb(48, 62, 143));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    font-family: 'Raleway', sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* form styling */
#search {
    background-color: #fff;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 3px;
}


/* location */
.location,
.temperature {
    height: 25vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.location-country{
    margin: 0 5px;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
}
.deg-btn {
    cursor: pointer;
}
.degree-section span {
    margin: 10px 10px 10px 3px;
    font-family: cursive;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
.description-div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.description-div .icon {
    align-self: flex-end;
    margin: 2rem 0 .5rem 0;
    transform: scale(4);
}

/* loader animation */
#loader {
    width: 50px;
    height: 50px;
    border: 3px solid #f3f3f3;
    border-top: 4px solid #f25a41;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

/* wave animation section */
.wave-section {
    position: relative;
    width: 100%;
    height: 150px;
    background:  rgb(147, 182, 187);
    overflow: hidden;
}
.wave-section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(../img/wave.png);
    transform: scaleY(-1);
    /* background-size: 100px 100px; */
}
.wave-section .wave.wave1 {
    animation: animate1 30s cubic-bezier(1,-0.19,.62,1.57) infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave-section .wave.wave2 {
    animation: animate2 45s cubic-bezier(.99,-0.37,0,1.12) infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.wave-section .wave.wave3 {
    animation: animate 30s cubic-bezier(1,-0.19,.62,1.57) infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
.wave-section .wave.wave4 {
    animation: animate2 15s cubic-bezier(1,-0.19,.62,1.57) infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

/* keyframes */
/* for the head section */
@keyframes animate1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

/* for the body section */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}